body {
	background-color: #ad7753;
	display: flex;
	justify-content: center;
}

.header {
 	position: sticky;
 	top: 0;
 	background: #f5ebbe;
 	color: #a71829;
 	height: 20px;
 	z-index: 3;
 	width: 100%;
 	font-family: "bomboniere", sans-serif;
	font-weight: 500;
}

a {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #a71829;
	text-align: justify-content;
	text-decoration: none;
}


div {
	background-color: #ad7753;
	max-width: 1100px;
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-indent: px;
	text-align: justify;
	word-spacing: -2px;
	font-weight: thin;
	padding: 20px;
}

.container {
	width: 1000px;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	margin: 20px;
	justify-content: center;
	border: solid 2px;

}

#targetInput {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 50px;
	width: 75%;
	height: 100px;
	color: #4f322d;
	background-color: #f5ebbe;

}



.grid {
 	display: grid;
 	grid-template-rows: repeat(4, 1fr);
 	grid-template-columns: repeat(17, 1fr);
 	padding: 10px;
}

.grid div {
 	background-color: #7c4f2d;
 	box-shadow: inset -1px -3px 2px 5px #4f322d;
 	border: 1px solid black;
 	padding: 10px;
 	font-size: 30px;
 	text-align: center;
}
