
body {
	background-color: #ad7753;
	display: flex;
	justify-content: center;
}

.header {
  position: sticky;
  top: 0;
  background: #f5ebbe;
  color: #a71829;
  height: 20px;
  z-index: 3;
  width: 100%;
  font-family: "bomboniere", sans-serif;
	font-weight: 500;
}

a {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #a71829;
	text-align: justify-content;
	text-decoration: none;
}


div {
	background-color: #ad7753;
	width: 75%;
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-indent: px;
	text-align: justify;
	word-spacing: -2px;
	font-weight: thin;
	padding: 20px;
}

.container {
	width: 75%;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	margin: 20px;
	justify-content: center;
	border: solid 2px;

}

h1{
	font-family: "bomboniere", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	color: #a71829;
	text-align: center;
	letter-spacing: -2px;
	line-height: 75px;
	position: absolute;
	top: 20px;
	left: 150px;
	z-index: 2;
}

h2 {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-size: 45px;
	color: #f5ebbe;
	text-align: center;
	letter-spacing: -2px;
	line-height: 75px;
	position: absolute;
	top: 370px;
	left: 375px;
}


h1:hover {
	color: darkred;
	font-size: 63px;

}

h2:hover {
	color: #dbbb8b;
	font-size: 48px;


}


.backgroundimage {
	position: relative;
	height: 500px;
	width: 1000px;
	text-align: center;
	background-color: transparent;
}


.textbox {
	color: #4f322d;
	background-color: #ad7753;
	font-size: 20px;
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: left;
	word-spacing: -2px;
	font-weight: thin;
	width: 30ch;
	padding: 30px;
	border-radius: 60px;
	box-shadow: inset 0px 0px 3px 20px #4f322d;
}

.list {
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	padding: 10px;
	background-color: transparent;
	text-align: center;
	width: 30%;
	min-width: 150px;
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
	margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 00px;
}


.box {
	background-color: #f5ebbe;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	margin: 20px;
	justify-content: center;
}


#hairline {
	font-weight: 100;
	font-family: bomboniere-hairline, sans-serif;}

#hairline-italic {
	font-weight: 100;
	font-family: bomboniere-hairline, sans-serif;
	font-style: italic;}

#thin {
	font-family: "bomboniere", sans-serif;
	font-weight: 100;}

#thin-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 100;
	font-style: italic;}

#extralight {
	font-family: "bomboniere", sans-serif;
	font-weight: 200;}

#extralight-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 200;
	font-style: italic;}

#light {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;}

#light-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: italic;}

#regular {
	font-family: "bomboniere", sans-serif;
	font-weight: 400;}

#regular-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 400;
	font-style: italic;}

#medium {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;}

#medium-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-style: italic;}

#semibold {
	font-family: "bomboniere", sans-serif;
	font-weight: 600;}

#semibold-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 600;
	font-style: italic;}

#bold {
	font-family: "bomboniere", sans-serif;
	font-weight: 700;}

#bold-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 700;
	font-style: italic;}

#extrabold {
	font-family: "bomboniere", sans-serif;
	font-weight: 800;}

#extrabold-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 800;
	font-style: italic;}

#black {
	font-family: "bomboniere", sans-serif;
	font-weight: 900;}

#black-italic {
	font-family: "bomboniere", sans-serif;
	font-weight: 900;
	font-style: italic;}


.listitem {
	background-color: #7c4f2d;
 	box-shadow: inset -1px -3px 2px 5px #4f322d;
 	border: 1px solid black;
 	padding: 10px;
 	font-size: 30px;
 	text-align: center;
 	min-width: 350px;
 	min-height: 55px;
}


#artist {
	font-family: "bomboniere", sans-serif;
	font-weight: 900;
}


img {
	width: 100%;
}

.backbottom {
	position: fixed; bottom;
}


/*---------animations-----------*/

#C {
	animation: bounce .5s infinite paused;
}
#C:hover{
	animation-play-state: running;
}
@keyframes bounce {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-50px);}
	100% {transform: translateY(0px);}
}


#A {
	animation: spin 2s linear infinite paused; 
}
#A:hover {
	animation-play-state: running;
}
@keyframes spin {

	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}





