
body {
	background-color: #ad7753;
	display: flex;
	justify-content: center;
}

.header {
	position: sticky;
	top: 0;
	background: #f5ebbe;
	color: #a71829;
	height: 20px;
	z-index: 3;
	width: 100%;
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
}

a {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;
	font-size: 30px;
	color: #a71829;
	text-align: justify-content;
	text-decoration: none;
}

h2 {
	color: darkred;
	font-size: 60px;
	letter-spacing: -2px;
	margin-bottom: -10px;
}

div {
	background-color: transparent;
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-indent: px;
	text-align: justify;
	word-spacing: -2px;
	font-weight: thin;
	padding: 20px;
	display: flex;
	justify-content: center;
	width: 75%;
}

.container {
	width: 75%;
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	border: solid 2px;
	margin: 20px;
	justify-content: center;
}

.chocolate-card {
  background-color: transparent;
  width: 400px;
  height: 700px;
  perspective: 1000px;
 }

 .flip-card-inner {
  position: relative;
  width: 600px;
  height: 600px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.chocolate-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   box-shadow:
    0 12px 24px rgba(0, 0, 0, 0.15),
    inset 0 -8px 12px rgba(0, 0, 0, 0.08);
}

.back {
  transform: rotateY(180deg);
}

.paragraphs {
	position: relative;
	height: 800px;
	width: 25ch;
	text-align: center;
}



